#define _BT_SEL_KEYS_ &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL  3 &bt BT_CLR

#define XXX &none
#define ___ &trans

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                      // thumbs

// misc aliases
#define CANCEL         &kp K_CANCEL             // cancel caps-word, num-word and smart-mouse
#define DSK_PREV       &hmr LCTRL LG(LC(LEFT))  // previous desktop
#define DSK_NEXT       &hmr LALT LG(LC(RIGHT))  // next     desktop
#define PIN_WIN        &kp LG(LC(LS(Q)))        // pin window across desktops
#define PIN_APP        &kp LG(LC(LS(A)))        // pin application across desktops
#define DSK_MGR        &kp LA(GRAVE)            // desktop manager
#define VOL_UP         &kp C_VOL_UP
#define VOL_DOWN       &kp C_VOL_DN
#define MUTE           &kp C_MUTE
#define PLAY_PAUSE     &kp C_PP 

//      web
#define TAB_L     LC(PG_UP)
#define TAB_R     LC(PG_DN)
#define TAB_MV_L  &kp LC(LS(PG_UP))
#define TAB_MV_R  &kp LC(LS(PG_DN))

//      mac
#define MAC_DSK_LETF  &kp LC(LEFT)  // mac workspace left
#define MAC_DSK_RIGHT &kp LC(RIGHT) // mac workspace right

#define MAC_GO        &kp LG(RBKT)
#define MAC_BACK      &kp LG(LBKT)
#define MAC_TAB_L     LS(LG(RBKT))
#define MAC_TAB_R     LS(LG(LBKT))

#define MAC_OPEN_LAST_CLOSE_TAB &kp LS(LG(T))

#define PICTURE_IN_PICTURE &kp LG(LA(LS(RBKT)))

#define INCREASE &kp LG(KP_PLUS)
#define DECREASE &kp LG(KP_SUBTRACT)

#define _MOUSE_TOP_ &kp TAB_L  U_WH_D     U_MS_U     U_WH_U     &kp TAB_R
#define _MOUSE_MID_ BACK       U_MS_L     U_MS_D     U_MS_R     GO
#define _MOUSE_BOT_ TAB_MV_L   &kp PG_DN  &mkp MCLK  &kp PG_UP  TAB_MV_R
#define _MOUSE_THU_ &mkp RCLK  &mkp LCLK  &kp ESC

#define _MAC_MOUSE_MID_ MAC_BACK U_MS_L U_MS_D U_MS_R MAC_GO

#define _NAV_LFT_MID_ &hml LGUI TAB_L  &hml LALT TAB_R  &hml LCTRL PG_DN  &hml LSHFT PG_UP
#define _NAV_LFT_BOT_ ___              BACK             U_WH_D            U_WH_U            GO

#define _MAC_NAV_LFT_MID_ &hml LGUI MAC_TAB_L &hml LALT MAC_TAB_R &hml LCTRL PG_DN &hml LSHFT PG_UP
#define _MAC_NAV_LFT_BOT_ ___                 MAC_BACK            U_WH_D           U_WH_U           MAC_GO

