#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

// make homerow combos tap-only (so HRMs can be chorded instantaneously)
#define HRC_TAB    &hml         LS(LALT) TAB
#define HRC_REPEAT &hml_repeat  LS(LCTRL) 0
#define HRC_LPAR   &hmr_lpar_lt RS(LCTRL) 0
#define HRC_RPAR   &hmr_rpar_gt RS(LALT) 0

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP, ...) \
    combo_##NAME { \
        timeout-ms = <TERM>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
        require-prior-idle-ms = <QUICKTAP>; \
        __VA_ARGS__ \
    };

/ {
    combos {
        compatible = "zmk,combos";

COMBO(hangul, &toggle_hangle, LB3 LB2 LB1, BASE QWERT, COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(colemacDH_qwert, &tog 1, RB3 RB2 RB1, BASE QWERT, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Horizontal combos - left hand */
COMBO(esc,   &kp ESC,      LT3 LT2, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(ret,   &kp RETURN,   LT2 LT1, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(mouse, &smart_mouse, LT3 LT1, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)


COMBO(tab,    HRC_TAB,      LM3 LM2, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(repeat, HRC_REPEAT,   LM2 LM1, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Horizontal combos - right hand */
COMBO(bspc, &kp BSPC,       RT1 RT2, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(del,  &kp DEL,        RT2 RT3, BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

COMBO(lpar,  HRC_LPAR,      RM1 RM2, BASE     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(rpar,  HRC_RPAR,      RM2 RM3, BASE     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(lt,    &kp LT,        RM1 RM2,     NAV    , COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(gt,    &kp GT,        RM2 RM3,     NAV    , COMBO_TERM_FAST, COMBO_IDLE_FAST)

COMBO(lbkt,  &kp LBKT,      RB1 RB2, BASE     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(rbkt,  &kp RBKT,      RB2 RB3, BASE     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(lbrc,  &kp LBRC,      RB1 RB2,     NAV    , COMBO_TERM_FAST, COMBO_IDLE_FAST)
COMBO(rbrc,  &kp RBRC,      RB2 RB3,     NAV    , COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Vertical combos - left hand */
COMBO(at,    &kp AT,        LT3 LM3, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(hash,  &kp HASH,      LT2 LM2, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(dllr,  &kp DLLR,      LT1 LM1, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(prcnt, &kp PRCNT,     LT0 LM0, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

COMBO(grave, &kp GRAVE,     LM3 LB3, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(bslh,  &kp BSLH,      LM2 LB2, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(equal, &kp EQUAL,     LM1 LB1, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(tilde, &kp TILDE,     LM0 LB0, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Vertical combos - right hand */
COMBO(caret, &kp CARET,     RT0 RM0, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(plus,  &kp PLUS,      RT1 RM1, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(star,  &kp STAR,      RT2 RM2, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(amps,  &kp AMPS,      RT3 RM3, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

COMBO(under, &kp UNDER,     RM0 RB0, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(minus, &kp MINUS,     RM1 RB1, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(fslh,  &kp FSLH,      RM2 RB2, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
COMBO(pipe,  &kp PIPE,      RM3 RB3, BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
  };
};
