ZMK_HOLD_TAP(mt_home, bindings = <&mskdhm>, <&kp>; MT_CORE)
ZMK_HOLD_TAP(mt_end, bindings = <&mskded>, <&kp>; MT_CORE)

/* tap: space | shift + tap: dot -> space -> sticky shift | hold: activate layer */
ZMK_HOLD_TAP(lt_spc,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&mo>, <&spc_m>;
)
