/ {
    macros {
        /omit-if-no-ref/ toggle_hangle: toggle_hangle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &tog 1>
                ;
        };

        /omit-if-no-ref/ dot_spc: dot_spc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp SPACE &sk LSHFT>;
        };
  };
};
