// reuse basic mod-morph scheme
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2)                                                \
    ZMK_MOD_MORPH(NAME,                                                                            \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>;                                                      \
        bindings = <BINDING1>, <BINDING2>;                                                         \
    )

// tap: comma | shift + tap: semicolon | ctrl + shift + tap: <
SIMPLE_MORPH(comma, SFT, &kp COMMA, &commain)
SIMPLE_MORPH(commain, CTL, &kp SEMICOLON, &kp LESS_THAN)

// tap: dot | shift + tap: colon | ctrl + shift + tap: >
SIMPLE_MORPH(dot, SFT, &kp DOT, &dotin)
SIMPLE_MORPH(dotin, CTL, &kp COLON, &kp GREATER_THAN)

// tap: qmark | shift + tap: excl
SIMPLE_MORPH(qexcl, SFT, &kp QMARK, &kp EXCL)

// tap: left/right parenthesis | shft + tap: less-than/greater-than
SIMPLE_MORPH(lpar_lt, SFT, &kp LPAR, &kp LT)
SIMPLE_MORPH(rpar_gt, SFT, &kp RPAR, &kp GT)

