/* source key position labels */
#include "totem.h"

#define X_LB    &kp LEFT
#define X_RB    &kp RIGHT

#define X_LH    &kp ESC
#define X_RH    &kp BSPC

/* source the main keymap */
#include "base.keymap"

