#define CONFIG_WIRELESS
#define X_LB    &tog QWE
#define X_RB    &tog NAV

#define X_LH    &tog_hng
#define X_RH    &tog MOUSE

#define MK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                   \
    ZMK_LAYER(                                                                 \
        name,                                                                  \
                 LT RT                                                         \
                 LM RM                                                         \
            X_LB LB RB X_RB                                                    \
            X_LH LH RH X_RH                                                    \
    )

#define MK_LEFT_CUSTOM_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)            \
    ZMK_LAYER(                                                                 \
        name,                                                                  \
                 LT RT                                                         \
                 LM RM                                                         \
                 LB RB X_RB                                                    \
                 LH RH X_RH                                                    \
    )


#include "zmk-helpers/key-labels/totem.h"
#include "base.keymap"
