/* source key position labels */
#include "totem.h"
#define ZELLIJ_LEADER LC(g)

#define X_LB    &kp LEFT
#define X_RB    &kp RIGHT

#define X_LH    &kp ZELLIJ_LEADER
#define X_RH    &none

/* source the main keymap */
#include "base.keymap"

#include "../layers/L0_colemak-dh.dtsi"
#include "../layers/L1_qwerty.dtsi"
#include "../layers/L2_num.dtsi"
#include "../layers/L3_nav.dtsi"
#include "../layers/L4_fn.dtsi"
#include "../layers/L5_sys.dtsi"
#include "../layers/L6_mouse.dtsi"
#include "../layers/L7_rkeys.dtsi"
#include "../layers/L8_linux_mouse.dtsi"
